.quiz-item {
    padding: 40px;
    background-color: var(--color-white);
    border-radius: 40px;
    width: 600px;
    @media screen and (max-width:600px){
        border-radius: 16px;
        padding: 8px;
        width: 100%;
    }
    &__top {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: 20px;
        margin-bottom: 20px;
        @media screen and (max-width:600px){
            column-gap: 8px;
        }
        &-info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;justify-content: center;
        }
        svg {
            margin-left: auto;
            @media screen and (max-width:600px){
                width: 48px;
                height: 48px;
            }
        }
    }
    &__bottom {
        padding-left: 80px;
        @media screen and (max-width:600px){
            padding-left: 0;
        }
    }
    &__title {
        color: var(--Black, #212125);
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 24px */
        letter-spacing: -0.4px;
        text-transform: uppercase;
        @media screen and (max-width:600px){
            font-size: 16px;
        }
    }
    &__subtitle {
        color: var(--Black, #212125);
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%; /* 14.4px */
        letter-spacing: -0.24px;
        text-transform: uppercase;
    }
    &__avatar {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        @media screen and (max-width:600px){
            border-radius: 16px;
            background: var(--White, #F7F9FB);
        }   
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__button {
        border-radius: 100px;
        background: var(--color-white);
        padding: 18px 20px;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        color: var(--White, #F7F9FB);
        text-align: center;
        font-family: $default-font2;
        font-size: 12px;
        font-style: normal;
        font-weight: 900;
        line-height: 120%; /* 14.4px */
        text-transform: uppercase;
        margin-top: 0;
        overflow: hidden;
        &:disabled {
            opacity: 0.5;
            pointer-events: none;
        }
        @media screen and (max-width:600px){
            padding-top: 16px;
            padding-bottom: 16px;
        }
        &--prev {
            background-color: transparent;
            border: var(--paddings-gaps-paddings-gaps-025, 1px) solid var(--White, #F7F9FB);
            color: var(--color-black);
        }
        svg {
            width: 16px;
            height: 16px;
            flex-shrink: 0;
        }
        svg:first-child {
            margin-right: 8px;
        }
        svg:last-child {
            margin-left: 8px;
        }
        &:after {
            position: absolute;
            top: 0;
            left: -10%;
            content: "";
            background: #f0f1f8;
            background-color: var(--color-black);
            width: 120%;
            height: 100%;
            transform: skew(26deg);
            transition: transform 0.45s cubic-bezier(0.3, 1, 0.8, 1);
        }

        &--prev::after {
            background-color: var(--color-white);
            transform: translate3d(100%, 0, 0);
        }
    
        @media (hover: hover) {
            &:hover:after {
                transform: translate3d(100%, 0, 0);
            }
            &--prev:hover:after {
                transform: translate3d(0, 0, 0) skew(26deg);
            }
            &:hover {
                color: var(--color-black);
                [stroke] {
                    stroke: var(--color-black);
                }
                [fill] {
                    fill: var(--color-black);
                }
            }
        }
        span,
        svg {
            z-index: 1;
            position: relative;
        }
    }
    &__question {
        padding: 20px 28px;
        border-radius: 12px;
        background: #E1E4F5;
        position: relative;
        width: max-content;
        margin-bottom: 8px;
        min-width: 50%;
        height: 62px;
        @media screen and (max-width:600px){
            width: 100%;
            padding: 12px;
            height: auto;
            min-height: 46px;
        }
        &-wrap {
            display: flex;
            flex-direction: column;
            span {
                display: none;
                &.active {
                    display: block;
                }
            }
        }
        svg {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateX(-100%) translateY(-100%);
            @media screen and (max-width:600px){
                transform-origin: center;
                transform-box: fill-box;
                top: 1px;
                left: 10px;
                transform: translateX(100%) translateY(-100%) rotate(180deg) scaleX(-1);
            }
        }
    }
    &__progress-bar {
        padding: 4px;
        position: relative;
        background-color: var(--color-white);
        &-digit {
            color: var(--Black, #212125);
            text-align: center;
            font-family: Unbounded;
            font-size: 12px;
            font-style: normal;
            font-weight: 900;
            line-height: 120%; /* 14.4px */
            text-transform: uppercase;
            position: relative;
            z-index: 2;
        }
        &-fill {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 102%;
            background: var(--Green, #00D361);
            transform-origin: left;
        }
    }
    &__answer-block {
        border-radius: 12px;
        overflow: hidden;
        border: var(--paddings-gaps-paddings-gaps-025, 1px) solid #E1E4F5;
        background: #E1E4F5;
    }
    &__answer-item {

        --padding-horizontal: 28px;
        --padding-vertical: 20px;

        padding: var(--padding-vertical) var(--padding-horizontal);
        display: none;
        width: 100%;
        @media screen and (max-width:600px){
            --padding-horizontal: 12px;
            --padding-vertical: 12px;
        }
        &.active {
            display: block;
        }
        &-title {
            color: var(--Black, #212125);
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%; /* 24px */
            letter-spacing: -0.8px;
            text-transform: uppercase;
            margin-bottom: 20px;
            @media screen and (max-width:600px){
                font-size: 16px;
                margin-bottom: 12px;
            }
        }
        &-checkbox-wrapper {
            margin-bottom: 20px;
        }
        &-checkbox {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            &.checked {
                font-weight: 900;
            }
            input {
                margin-right: 12px;
            }
        }
        &-checkbox~&-checkbox {
            margin-top: 4px;
        }
        &-button-wrapper {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            column-gap: 4px;
            margin-top: 20px;
            @media screen and (max-width:600px){
                flex-wrap: wrap;
            }
        }
        &-svg {
            padding-top: 140px;
            padding-bottom: 140px;
            margin-left: auto;
            margin-right: auto;
            display: block;
            text-align: center;
            background-color: var(--color-white);

            //var(--padding-vertical) var(--padding-horizontal)
            margin-top: calc(var(--padding-vertical));
            margin-left: calc(var(--padding-horizontal) * -1);
            margin-right: calc(var(--padding-horizontal) * -1);
            margin-bottom: calc(var(--padding-vertical) * -1);
        }
    }
    &__custom-checkbox {
        width: 20px;
        height: 20px;
        border: 1px solid var(--Black, #212125);
        border-radius: 50%;
        appearance: none;
        position: relative;
        cursor: pointer;
        flex-shrink: 0;
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 14px;
            height: 14px;
            background-color: var(--Black, #212125);
            border-radius: 50%;
            opacity: 0;
            transition: opacity 0.35s ease-out;
        }
        &:hover::after {
            opacity: 1;
        }
        &:checked::after {
            opacity: 1;
        }
    }
    &__counter {
        margin-left: auto;
        color: var(--Black, #212125);
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 24px */
        letter-spacing: -0.8px;
        text-transform: uppercase;
        @media screen and (max-width:600px){
            font-size: 16px;
        }
    }

    .contact-screen-form__group-title {
        color: var(--color-black);
    }
    .contact-screen-form__group {
        input {
            border: none;
        }
        border-bottom: 2px solid var(--color-black);
    }
}


@-webkit-keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

.heartbeat:not(:disabled) {
    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
    animation: heartbeat 1.5s ease-in-out infinite both;
}