header(class="header "+header_class)
    a(href="/" class="header__logo-wrap")
        .show-on-desktop
            include ../components/logo.svg
        .show-on-tablet
            include ../components/logo.svg
        .show-on-mobile
            <svg width="97" height="40" viewBox="0 0 97 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 31.1683V14.1193L11.3998 20.2942L11.4002 37.3433L1 31.1683ZM13.4002 37.3433L13.3998 20.2942L23.8 14.1192V31.1683L13.4002 37.3433ZM22.8413 12.3625L12.3998 18.562L1.95872 12.3625L12.4002 6.16299L22.8413 12.3625Z" stroke="#F7F9FB" stroke-width="2"/>
                <path d="M38.5835 13.786C38.6275 14.05 38.8095 14.256 39.1295 14.404C39.4495 14.552 39.8835 14.626 40.4315 14.626C41.4475 14.626 41.9555 14.422 41.9555 14.014C41.9555 13.854 41.8715 13.728 41.7035 13.636C41.5355 13.54 41.2315 13.478 40.7915 13.45L39.3035 13.354C37.9835 13.266 37.0155 12.984 36.3995 12.508C35.7835 12.032 35.4755 11.382 35.4755 10.558C35.4755 9.902 35.6635 9.348 36.0395 8.896C36.4195 8.444 36.9555 8.104 37.6475 7.876C38.3435 7.648 39.1595 7.534 40.0955 7.534C40.9915 7.534 41.7915 7.66 42.4955 7.912C43.1995 8.164 43.7555 8.52 44.1635 8.98C44.5755 9.44 44.8035 9.97 44.8475 10.57H41.7035C41.6675 10.35 41.5075 10.18 41.2235 10.06C40.9395 9.936 40.5435 9.874 40.0355 9.874C39.0915 9.874 38.6195 10.062 38.6195 10.438C38.6195 10.59 38.6995 10.712 38.8595 10.804C39.0195 10.892 39.2995 10.95 39.6995 10.978L41.3795 11.086C42.2555 11.142 42.9655 11.272 43.5095 11.476C44.0535 11.676 44.4515 11.956 44.7035 12.316C44.9595 12.672 45.0875 13.118 45.0875 13.654C45.0875 14.31 44.8915 14.89 44.4995 15.394C44.1075 15.894 43.5555 16.282 42.8435 16.558C42.1315 16.83 41.3075 16.966 40.3715 16.966C39.4035 16.966 38.5475 16.834 37.8035 16.57C37.0635 16.306 36.4875 15.934 36.0755 15.454C35.6635 14.974 35.4515 14.418 35.4395 13.786H38.5835ZM51.4249 7.75C52.2289 7.75 52.9229 7.884 53.5069 8.152C54.0909 8.42 54.5349 8.8 54.8389 9.292C55.1469 9.784 55.3009 10.362 55.3009 11.026C55.3009 11.69 55.1469 12.268 54.8389 12.76C54.5349 13.252 54.0909 13.632 53.5069 13.9C52.9229 14.168 52.2289 14.302 51.4249 14.302H49.2769V16.75H46.1809V7.75H51.4249ZM51.2209 11.89C51.5289 11.89 51.7649 11.816 51.9289 11.668C52.0969 11.516 52.1809 11.302 52.1809 11.026C52.1809 10.75 52.0969 10.538 51.9289 10.39C51.7649 10.238 51.5289 10.162 51.2209 10.162H49.2769V11.89H51.2209ZM59.3199 7.75V16.75H56.2239V7.75H59.3199ZM60.7591 7.75H64.7551L68.2591 13.192V7.75H71.2591V16.75H67.3831L63.7591 11.122V16.75H60.7591V7.75Z" fill="#F7F9FB"/>
                <rect width="62" height="18" transform="translate(35 20.75)" fill="#F7F9FB"/>
                <path d="M42.8336 25.75V28.786H46.6736V25.75H49.7696V34.75H46.6736V31.522H42.8336V34.75H39.7376V25.75H42.8336ZM56.3462 34.966C55.2622 34.966 54.3062 34.77 53.4782 34.378C52.6502 33.986 52.0082 33.434 51.5522 32.722C51.1002 32.01 50.8742 31.186 50.8742 30.25C50.8742 29.314 51.1002 28.49 51.5522 27.778C52.0082 27.066 52.6502 26.514 53.4782 26.122C54.3062 25.73 55.2622 25.534 56.3462 25.534C57.4302 25.534 58.3862 25.73 59.2142 26.122C60.0422 26.514 60.6822 27.066 61.1342 27.778C61.5902 28.49 61.8182 29.314 61.8182 30.25C61.8182 31.186 61.5902 32.01 61.1342 32.722C60.6822 33.434 60.0422 33.986 59.2142 34.378C58.3862 34.77 57.4302 34.966 56.3462 34.966ZM53.9942 30.25C53.9942 30.654 54.0882 31.004 54.2762 31.3C54.4642 31.592 54.7342 31.816 55.0862 31.972C55.4422 32.128 55.8622 32.206 56.3462 32.206C56.8302 32.206 57.2482 32.128 57.6002 31.972C57.9562 31.816 58.2282 31.592 58.4162 31.3C58.6042 31.004 58.6982 30.654 58.6982 30.25C58.6982 29.846 58.6042 29.498 58.4162 29.206C58.2282 28.91 57.9562 28.684 57.6002 28.528C57.2482 28.372 56.8302 28.294 56.3462 28.294C55.8622 28.294 55.4422 28.372 55.0862 28.528C54.7342 28.684 54.4642 28.91 54.2762 29.206C54.0882 29.498 53.9942 29.846 53.9942 30.25ZM65.8933 30.622C65.8933 31.13 66.0273 31.522 66.2953 31.798C66.5633 32.07 66.9733 32.206 67.5253 32.206C68.6133 32.206 69.1573 31.678 69.1573 30.622V25.75H72.2533V30.79C72.2533 31.618 72.0573 32.348 71.6653 32.98C71.2733 33.612 70.7193 34.102 70.0033 34.45C69.2913 34.794 68.4653 34.966 67.5253 34.966C66.5893 34.966 65.7633 34.792 65.0473 34.444C64.3353 34.096 63.7813 33.608 63.3853 32.98C62.9933 32.348 62.7973 31.618 62.7973 30.79V25.75H65.8933V30.622ZM76.4253 31.786C76.4693 32.05 76.6513 32.256 76.9713 32.404C77.2913 32.552 77.7253 32.626 78.2733 32.626C79.2893 32.626 79.7973 32.422 79.7973 32.014C79.7973 31.854 79.7133 31.728 79.5453 31.636C79.3773 31.54 79.0733 31.478 78.6333 31.45L77.1453 31.354C75.8253 31.266 74.8573 30.984 74.2413 30.508C73.6253 30.032 73.3173 29.382 73.3173 28.558C73.3173 27.902 73.5053 27.348 73.8813 26.896C74.2613 26.444 74.7973 26.104 75.4893 25.876C76.1853 25.648 77.0013 25.534 77.9373 25.534C78.8333 25.534 79.6333 25.66 80.3373 25.912C81.0413 26.164 81.5973 26.52 82.0053 26.98C82.4173 27.44 82.6453 27.97 82.6893 28.57H79.5453C79.5093 28.35 79.3493 28.18 79.0653 28.06C78.7813 27.936 78.3853 27.874 77.8773 27.874C76.9333 27.874 76.4613 28.062 76.4613 28.438C76.4613 28.59 76.5413 28.712 76.7013 28.804C76.8613 28.892 77.1413 28.95 77.5413 28.978L79.2213 29.086C80.0973 29.142 80.8073 29.272 81.3513 29.476C81.8953 29.676 82.2933 29.956 82.5453 30.316C82.8013 30.672 82.9293 31.118 82.9293 31.654C82.9293 32.31 82.7333 32.89 82.3413 33.394C81.9493 33.894 81.3973 34.282 80.6853 34.558C79.9733 34.83 79.1493 34.966 78.2133 34.966C77.2453 34.966 76.3893 34.834 75.6453 34.57C74.9053 34.306 74.3293 33.934 73.9173 33.454C73.5053 32.974 73.2933 32.418 73.2813 31.786H76.4253ZM91.9921 31.318H87.1621L87.0001 32.302H92.4361V34.75H83.7241L84.3841 30.25L83.7241 25.75H92.3761V28.198H87.0001L87.1621 29.182H91.9921V31.318Z" fill="#212125"/>
            </svg>
    a(href="/" class="header__logo-wrap show-on-mobile")
    .header__links(data-lenis-prevent)
        a(href="#functionality").text-style-1920-body-caps.text-white functionality
        a(href="#Feature").text-style-1920-body-caps.text-white Features
        a(href="#Engag").text-style-1920-body-caps.text-white Engage
        a(href="#Contact").text-style-1920-body-caps.text-white Contact
    button(type="button" data-form-popup-call).button-30 
        span.show-on-desktop Schedule a Demo
        span.show-on-tablet Schedule a Demo
        span.show-on-mobile Try a demo
        //- <svg class="show-on-desktop" width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        //-     <line x1="11.25" y1="1" x2="11.25" y2="14" stroke="#212125" stroke-width="3.5"></line>
        //-     <line y1="2.25" x2="13" y2="2.25" stroke="#212125" stroke-width="3.5"></line>
        //-     <path d="M1.76343 12.2634L11.4998 2" stroke="#212125" stroke-width="3.5"></path>
        //- </svg>
        <svg class="show-on-desktop" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18 19L18 8M18 8L7 8M18 8L8.1 17.9" stroke="#212125" stroke-width="3.5"/>
        </svg>
        <svg class="show-on-tablet" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18 19L18 8M18 8L7 8M18 8L8.1 17.9" stroke="#212125" stroke-width="3.5"/>
        </svg>
        <svg class="show-on-mobile" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18 18L18 7M18 7L7 7M18 7L8.1 16.9" stroke="#212125" stroke-width="2.5"/>
        </svg>
    <svg data-tablet-menu-open class="show-on-tablet" width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g data-tablet-menu-when-closed>
            <rect width="80" height="80" fill="#212125"/>
            <rect x="28" y="36" width="24" height="2" fill="#FCF5F0"/>
            <rect x="28" y="42" width="24" height="2" fill="#FCF5F0"/>
        </g>
        <g data-tablet-menu-when-opened>
            <path d="M30 50L50 30M50 50L30 30" stroke="#F7F9FB" stroke-width="2" stroke-linecap="square"/>
        </g>
    </svg>
    <svg data-tablet-menu-open class="show-on-mobile" width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g data-tablet-menu-when-closed>
            <rect width="60" height="60" fill="#212125"/>
            <rect x="21" y="26" width="18" height="2" fill="#FCF5F0"/>
            <rect x="21" y="32" width="18" height="2" fill="#FCF5F0"/>
        </g>
        <g data-tablet-menu-when-opened>
            <rect width="60" height="60" fill="#212125"/>
            <path d="M23 37L37 23M37 37L23 23" stroke="#F7F9FB" stroke-width="2" stroke-linecap="square"/>
        </g>
    </svg>

.mobile-callback-popup(data-mobile-callback-popup) 
    a.mobile-callback-popup__tel(href="tel:+380443563777") Виклик +380 (44) 356 37 77
    .mobile-callback-popup__callback(data-form-popup-call data-mobile-callback-close) Зворотній дзвінок
    .mobile-callback-popup__close(data-mobile-callback-close) Відмінити

