.form-wrapper-succes-layer(data-success-layer)
  .form-wrapper-succes-layer__content
    <svg data-success-layer-close class="form-wrapper-succes-layer__close" width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M8.00003 7.08575L8.70714 7.79286L12.5 11.5858L16.2929 7.79286L17 7.08575L18.4142 8.49997L17.7071 9.20707L13.9142 13L17.7071 16.7929L18.4142 17.5L17 18.9142L16.2929 18.2071L12.5 14.4142L8.70714 18.2071L8.00003 18.9142L6.58582 17.5L7.29292 16.7929L11.0858 13L7.29292 9.20707L6.58582 8.49997L8.00003 7.08575Z" fill="#F7F9FB"/>
    </svg>
    .form-wrapper-succes-layer__title.text-style-1920-h-2.text-white  Boom!
    .form-wrapper-succes-layer__subtitle.text-gray.text-style-1920-body-caps Your idea is our next big project. 
    .form-wrapper-succes-layer__subtitle2.text-white.text-style-1920-body-caps Stay tuned!
    button(type="button" data-success-layer-close).form-wrapper-succes-layer__button.contact-screen-form__button
      span See you later
      <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M18.5 19.5L18.5 8.5M18.5 8.5L7.5 8.5M18.5 8.5L8.6 18.4" stroke="#F7F9FB" stroke-width="3.5"/>
      </svg>
