extends ../layout/main
	
block meta
	title= '404'
	meta(name='description', content='')
block head
		link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
	script(src='./assets/scripts/index.js')

block content
	.container.page404
		img(src="./assets/images/404.jpg").page404__bg
		<svg width="328" height="151" viewBox="0 0 328 151" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M62.877 0H90.2207V92.4805H103.014V117.773H90.2207V147.266H63.4629V117.773H0.767578V92.4805L62.877 0ZM63.4629 92.4805V44.3359L30.6504 92.4805H63.4629Z" fill="white"/>
			<path d="M164.342 0C174.824 0 183.84 2.57161 191.393 7.71484C199.01 12.8581 204.869 20.7357 208.971 31.3477C213.137 41.8945 215.221 56.6081 215.221 75.4883C215.221 94.5638 213.105 109.408 208.873 120.02C204.706 130.632 199.075 138.444 191.979 143.457C184.882 148.405 175.93 150.879 165.123 150.879C154.316 150.879 145.234 148.372 137.877 143.359C130.52 138.346 124.758 130.729 120.592 120.508C116.425 110.286 114.342 95.7357 114.342 76.8555C114.342 50.4883 118.411 31.3802 126.549 19.5312C135.598 6.51042 148.196 0 164.342 0ZM165.025 25.9766C160.403 25.9766 156.301 27.474 152.721 30.4688C149.14 33.3984 146.406 38.4766 144.518 45.7031C142.63 52.9297 141.686 63.5091 141.686 77.4414C141.686 95.6055 143.834 108.171 148.131 115.137C152.493 122.038 158.124 125.488 165.025 125.488C171.666 125.488 176.939 122.201 180.846 115.625C185.598 107.682 187.975 94.401 187.975 75.7812C187.975 56.901 185.826 43.8802 181.529 36.7188C177.298 29.5573 171.796 25.9766 165.025 25.9766Z" fill="white"/>
			<path d="M287.096 0H314.439V92.4805H327.232V117.773H314.439V147.266H287.682V117.773H224.986V92.4805L287.096 0ZM287.682 92.4805V44.3359L254.869 92.4805H287.682Z" fill="white"/>
			</svg>
		.oops упс..
		p(class="text-style-h-3 text-white") Здається, сторінка не знайдена
		div(class="link-wrap")
			a(class="button-30 " href="/")
				span.button-fill__text На головну

block footer
	footer.footer
		include ../includes/footer.pug

block header
	header.header
		include ../includes/header.pug

