
extends ../layout/main
block variable
  -
    var title_page = 'project'
    var id_page = 'home'
    var class_page = 'home '
    var genplan = [
      ['parking', 'Підземні паркінги', '#4AC1F3 '],
      ['hospital', 'Лікарня', '#4AF3DF'],
      ['park', 'Паркова зона', '#E6F34A'],
      ['barbeque', 'Зона барбекю', '#F3C44A'],
      ['dogs', 'Зона для вигулу собак', '#F3734A'],
      ['greenzone', 'Зелені зони', '#4AF384'],
      ['playground', 'Дитячі майданчики', '#F34AEC'],
      ['sportyard', 'Спортивні майданчики', '#4D4AF3'],
      ['workoutzone', 'Workout зони', '#F34A4A'],
    ]

block meta
  title= 'Smartorange Spinhouse'
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/home.bundle.js')
block content
  include ./home/home-front-screen.pug
  include ./home/spinhouse-demo-screen.pug
  include ./home/home-features-block.pug
  .screen-contain.home-engage-block(id="Engag")
    .home-engage-block__video
      video(loading="lazy" autoplay muted playsinline loop poster="./assets/images/home-engage-screen-video-poster.jpg")
        source(loading="lazy" src="./assets/images/home-engage-screen-video.mp4" type="video/mp4")
      .home-engage-block__video-overlay
    .text-style-1920-h-1.text-white.home-engage-block__text1 Engage
    .text-style-1920-h-1.text-white.home-engage-block__text2
      span.text-stroke-white & 
      span Excite
    .text-white.text-style-1920-h-3.home-engage-block__description With spinhouse, your clients will experience properties like never before. Interactive and immersive – just the way they like it.
    .home-engage-block__button
      button.button-30.home-engage-block__button(type="button" data-form-popup-call)
        span Launch demo
        svg(width="24", height="24", viewBox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
          path(d="M18 19L18 8M18 8L7 8M18 8L8.1 17.9", stroke="#212125", stroke-width="3.5")
  include ./home/home-for-who-block.pug
  include ./home/transform-vision-into-reality-block.pug
  include ./home/quiz-screen.pug
  include ./home/contact-screen.pug



block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
