.home-for-who-block
  .home-for-who-block__bg-figure
    img(loading="lazy" src="./assets/images/home-for-who-block/bg_figure.png")
  .home-for-who-block__bg
    .paralax-screen
      .paralax-screen-wrapper-transform
        .paralax-screen-wrapper-scale
          img(loading="lazy" src="./assets/images/home-for-who-block/bg.jpg")
  .home-for-who-block__title.text-style-1920-h-1.text-white For Those
  .home-for-who-block__title.home-for-who-block__title--last.home-for-who-block__title--text-indent.text-style-1920-h-1.text-white Who Lead
  .home-for-who-block__item
    .text-style-1920-body.text-gray For Residential 
    .home-for-who-block__item-title.text-white.text-style-1920-h-2 Real Estate Developers
    .home-for-who-block__item-button
      button(type="button" data-form-popup-call).button-30
        span discover spinhouse
        svg(width="24", height="24", viewBox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
          path(d="M18 19L18 8M18 8L7 8M18 8L8.1 17.9", stroke="#212125", stroke-width="3.5")
  .home-for-who-block__item
    .text-style-1920-body.text-gray For Residential 
    .home-for-who-block__item-title.text-white.text-style-1920-h-2 Real Estate Agencies
    .home-for-who-block__item-button
      button(type="button" data-form-popup-call).button-30
        span discover spinhouse
        svg(width="24", height="24", viewBox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
          path(d="M18 19L18 8M18 8L7 8M18 8L8.1 17.9", stroke="#212125", stroke-width="3.5")
  .home-for-who-block__item
    .text-style-1920-body.text-gray  For Real Estate 
    .home-for-who-block__item-title.text-white.text-style-1920-h-2 Marketing Agencies
    .home-for-who-block__item-button
      button(type="button" data-form-popup-call).button-30
        span discover spinhouse
        svg(width="24", height="24", viewBox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
          path(d="M18 19L18 8M18 8L7 8M18 8L8.1 17.9", stroke="#212125", stroke-width="3.5")