.screen-contain.home-front-screen
  button(type="button" data-down-arrow).text-style-1920-buttons.text-white.home-front-screen__helper
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M2.10051 10.8995L12 20.799M12 20.799L21.8995 10.8995M12 20.799L12 0.999975" stroke="#F7F9FB" stroke-width="3.5"/>
    </svg>
    span Scroll
  .home-front-screen__content  
    div.text-style-1920-h-2.text-white.home-front-screen__text1 YOUR SUPERPOWER
    div.text-style-1920-h-2.text-white.home-front-screen__text2 IN PROPERTY 
    div.text-style-1920-h-2.text-white.home-front-screen__text3 PRESENTATION
    div.home-front-screen__description.text-white
      div.text-style-1920-h-3.home-front-screen__description-text1 Transforming Properties into Captivating Digital Experiences
      button.button-30(type='button' data-form-popup-call) 
        span Try demo now
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M18 19L18 8M18 8L7 8M18 8L8.1 17.9" stroke="#212125" stroke-width="3.5"/>
        </svg>
  .home-front-screen__video-wrapper
    .paralax-screen
      .paralax-screen-wrapper-transform
        .paralax-screen-wrapper-scale
          .home-front-screen__video-overlay
          video(loading="lazy" poster="./assets/images/front-video-poster.jpg" src='./assets/images/front-video.mp4', autoplay loop muted playsinline)