.transform-vision-into-reality-block.screen-contain
  .transform-vision-into-reality-block__bg
    video(loading="lazy" autoplay muted playsinline loop poster="./assets/images/transform-vision-into-reality-block/video-poster.jpg")
      source(loading="lazy" src="./assets/images/transform-vision-into-reality-block/Casa Negra.mp4" type="video/mp4")
    .transform-vision-into-reality-block__bg-overlay
  .transform-vision-into-reality-block__content
    div.text-style-1920-h-1.text-white.transform-vision-into-reality-block__title1.show-on-desktop Transform Vision
    div.text-style-1920-h-1.text-white.transform-vision-into-reality-block__title2.show-on-desktop into Reality
    div.text-style-1920-h-1.text-white.transform-vision-into-reality-block__title1.show-on-tablet Transform
    div.text-style-1920-h-1.text-white.transform-vision-into-reality-block__title2.show-on-tablet vision into Reality
    div.text-style-1920-h-1.text-white.transform-vision-into-reality-block__title1.show-on-mobile Transform
    div.text-style-1920-h-1.text-white.transform-vision-into-reality-block__title2.show-on-mobile vision into Reality
    .transform-vision-into-reality-block__description.text-style-1920-h-3.text-white Transform your property management with spinhouse. Fill out the form and get a free demo today!
    .transform-vision-into-reality-block__button
      button.button-30(type='button' data-form-popup-call) 
        span JOIN SPINHOUSE
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M18 19L18 8M18 8L7 8M18 8L8.1 17.9" stroke="#212125" stroke-width="3.5"/>
        </svg>