.home-engage-block {
    position: relative;
    padding-top: 19.44vh;
    padding-bottom: 19.44vh;
    overflow: hidden;


    display: grid; 
    grid-template-columns: 5fr 11fr 1fr 7fr; 
    grid-template-rows: max-content max-content max-content; 
    gap: 20px 20px; 
    grid-template-areas: 
        "text1 text1 . ."
        "text2 text2 . description"
        ". button . description"; 
    
    @include to(1024px){
        padding-bottom: 100px;
        padding-top: 135px;
        grid-template-columns: 1fr 5fr;
        grid-template-rows: max-content max-content auto max-content; 
        grid-template-areas: 
        "text1 text1"
        ". text2"
        ". description"
        ". button"; 
    }

    @include to(600px){
        padding-top: 100px;
        padding-bottom: 100px;
        gap: 0;
    }

    &__video {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        &-overlay {
            background: #000;
            opacity: 0.5;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;

        }
        video {
            width: 100%;
            height: calc(100% + 30px);
            margin-top: -30px;
            object-fit: cover;object-position: bottom;
        }
    }

    
    &__text1 { grid-area: text1; }
    &__text2 { 
        grid-area: text2; 
        @include from(1025px){
            padding-left: 32.3%;
            // text-align: right;
        }
    }
    &__description { 
        grid-area: description; 
        @include to(1024px){
            align-self: end;
        }
    }
    &__button { 
        grid-area: button; 
        // padding-top: 40px;
        @include from(1025px){
            margin-top: 48px;
        }
        @include to(600px){
            padding-top: 20px;
            button {
                width: 100%;
                text-align: center;
                justify-content: center;
            }
        }
    }
}