.home-features-block {
    position: relative;
    padding-top: 19.44vh;
    padding-bottom: 19.44vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    // grid-template-rows: repeat(3, max-content);
    overflow: hidden;
    @include to(1024px){
        grid-template-columns: 1fr 1fr;
    }
    @include to(600px){
        padding-top: 100px;
        padding-bottom: 100px;
    }
    @media screen and (max-width:600px){
        grid-template-columns: 1fr;

    }
    &__bg_figure {
        position: absolute;
        right: 0;
        top: 0;
        transform: translateY(-70%) translateX(30%);
        @include to(600px){
            width: 100%;
            transform: translateY(-90%) translateX(30%);
        }
    }
    &__bottom-item-last {
        grid-column-start: 1;
        grid-column-end: 4;
        
        display: flex;
        justify-content: center;
        margin-top: pxInVh(107);
        @include to(1024px){
            grid-column-start: 1;
            grid-column-end: 3;
            button {
                width: calc(100% - var(--page-side-fields) * 2);
                justify-content: center;
            }
        }
        @media screen and (max-width:600px){
            grid-column-end: 2;
            margin-top: 40px;
            button {
                width: calc(100% - 40px);
                justify-content: center;
            }
        }
    }
    &__bottom {
        grid-column-start: 1;
        grid-column-end: 4;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        margin-top: pxInVh(150);
        @include to(1024px){
            grid-column-start: 1;
            grid-column-end: 3;
            row-gap: 40px;
        }
        
        @media screen and (max-width:600px){
            grid-column-end: 2;
            
        }
        &-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            position: relative;
            @include from(1025px){
                width: 25%;
            }
            
            &-img {
                position: relative;
                padding-bottom: 52%;
                margin-bottom: 60px;
                img:last-child {
                    z-index: -1;
                }
                img {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    object-position: bottom;
                }
            }
            &:first-child {
                width: 16%;
                @include to(1024px){
                    width: 50%;
                }
                @include to(600px){
                    width: 100%;
                }
            }
            &:first-child &-img {
                padding-bottom: 90%;
                
            }
            &:nth-child(2) {
                width: 16%;
                @include to(1024px){
                    width: 50%;
                }
                @include to(600px){
                    width: 100%;
                }
            }
            &:nth-child(2) &-img {
                padding-bottom: 100%;
                img:last-child {
                    width: 130%;
                    height: 130%;
                    transform: translate(-50%,-50%);
                    left: 50%;
                    top: 50%;
                    max-width: none;
                }
            }
            &:nth-child(3) {
                width: 32%;
                @include to(1024px){
                    width: 100%;
                }
            }
            &:nth-child(3) &-img {
                padding-bottom: 44%;
                img:last-child {
                    width: 170%;
                    height: 170%;
                    transform: translate(-50%,-50%);
                    left: 50%;
                    top: 50%;
                    max-width: none;
                }
            }
            &:nth-child(4) {
                width: 32%;
                @include to(1024px){
                    width: 100%;
                }
            }
            &:nth-child(4) &-img {
                
                img:last-child {
                    width: 170%;
                    height: 170%;
                    transform: translate(-50%,-50%);
                    left: 50%;
                    top: 50%;
                    max-width: none;
                }
                @include to(600px){
                    padding-bottom: 77%;
                }
            }
        }
        
    }
    &__title {
        grid-area: 1/1/1/4;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: var(--page-side-fields);
        padding-right: var(--page-side-fields);
        padding-bottom: pxInVh(150);
        position: relative;
        z-index: 2;
        @include to(1024px){
            grid-area: 1/1/1/3;
            padding-bottom: 60px;
        }
        @media screen and (max-width:600px){
            grid-area: 1/1/1/2;
            padding-bottom: 35px;
        }
    }
    .paralax-screen,
    .paralax-screen-wrapper-transform,
    .paralax-screen-wrapper-scale {
        width: 100%;
        height: 100%;
    }
    &__bg {
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__item {
        display: grid;
        display: grid; 
        grid-template-columns: 1fr 2fr; 
        gap: 12px 28px; 
        grid-template-areas: 
        "img text"
        "img text"; 
        padding: 46px 20px;
        position: relative;
        z-index: 2;
        @include to(1024px){
            grid-template-columns: 1fr 3fr;
            padding: 20px;
        }
        @include to(600px){
            gap: 12px 20px; 
        }
        &-text {
            grid-area: text;
            :first-child {
                margin-bottom: 12px;
            }
        }
        &-img {
            grid-area: img;
            align-self: center;
            @include to(1024px){
                align-self: start;
            }
        }
        &-img-wrap {
            position: relative;
            padding-bottom: 100%;
            @include from(1025px){
                border-radius: 50%;
                border: 1px solid #3F3F52;
            }
            img {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                width: 68px;
                height: auto;
            }
        }
    }
    &__callback {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}